/*------------------- Language --------------------------*/
.language {
  float: left;
  margin-top: 5px;

  .language-object {
    float: right;
    display: block;
    margin: 0;
    padding: 0;

    span {
      float: left;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 5px;
      margin: 0;

      &:first-child {
        padding-left: 8px;
      }

      img {
        height: 12px;
        width: 17px;
        opacity: 0.3;
      }

      &:hover img {
        opacity: 1;
      }
    }

    .Language.selected img {
      opacity: 1;
      border-color: #222;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
      box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    }
  }
}
